
<% Pirate.all.each do |pirate| %>
    <h1>
        Pirate Name: <%= pirate.name %>
    </h1>
    <h1>
        Pirate height: <%= pirate.height %>
    </h1>
    <h1>
        Pirate weight: <%= pirate.weight %>
    </h1>
<% end %>

<h2>Ships:</h2>
<% Ship.all.each do |ship| %>
    <p>
    Ship Name: <%= ship.name %>
    </p>
    <p>
    Ship type: <%= ship.type %>
    </p>
    <p>
    Ship Booty: <%= ship.booty %>
    </p><br>
<% end %>
