<h1>Pirate Name: <%= @pirate.name%></h1>
<h1>Pirate height: <%= @pirate.height%></h1>
<h1>Pirate weight: <%= @pirate.weight%></h1>

<h2><%= @ship1.name%></h2>
<h2><%= @ship1.type%></h2>
<h2><%= @ship1.booty%></h2>

<h2><%= @ship2.name%></h2>
<h2><%= @ship2.type%></h2>
<h2><%= @ship2.booty%></h2>
